<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UNSCollab">
        <activity
            android:name=".navigation.navGraph"
            android:exported="false"
            android:label="@string/title_activity_nav_graph"
            android:theme="@style/Theme.UNSCollab" />
        <activity
            android:name=".components.UNSCollabButtonBar"
            android:exported="false"
            android:label="@string/title_activity_unscollab_button_bar"
            android:theme="@style/Theme.UNSCollab" />
        <activity
            android:name=".profile.ProfileScreen"
            android:exported="false"
            android:label="@string/title_activity_profile_screen"
            android:theme="@style/Theme.UNSCollab" />
        <activity
            android:name=".activity.ActivityScreen"
            android:exported="false"
            android:label="@string/title_activity_screen"
            android:theme="@style/Theme.UNSCollab" />
        <activity
            android:name=".navigation.NavGraph"
            android:exported="false"
            android:label="@string/title_activity_nav_graph"
            android:theme="@style/Theme.UNSCollab" />
        <activity
            android:name=".components.UNSCollabBottomBar"
            android:exported="false"
            android:label="@string/title_activity_unscollab_bottom_bar"
            android:theme="@style/Theme.UNSCollab" />
        <activity
            android:name=".notification.NotificationScreen"
            android:exported="false"
            android:label="@string/title_activity_notification_screen"
            android:theme="@style/Theme.UNSCollab" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.UNSCollab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".landing.LandingActivity"
            android:exported="false" />
        <activity
            android:name=".auth.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".auth.login.LoginActivity"
            android:exported="false" />
    </application>

</manifest>